
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
  width: 100%;
}

.auth-row {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-auth-type-row {
  margin-top: 3em;
}